@use "../1-config/" as *;
@use "../2-composition/cards" as *;

.layout--baseball-cards {
    .cards-container {
        --gap: 32px;
        align-items: stretch;
        @include breakpoint("md-down") {
            justify-content: center;
            --gap: 24px;
        }
        .card {
            padding: 0;
            border: none;
            @include breakpoint("md-down") {
                flex: 1 1 calc(50% - var(--gap) );
                max-width: 50%;
            }
            @include breakpoint("sm-down") {
                flex: 1 1 100%;
                max-width: 100%;
            }
            .content-container {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                grid-template-rows: repeat(2, max-content) auto;
                height: 100%;
            }
            .image-container {
                position: relative;
                height: fit-content;
                img, svg {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                .card-headline {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 22px;
                    color: #fff;
                    background-color: var(--rcd-brand-color-2);
                    padding: 0.5rem 40px 0.5rem 0.5rem;
                    width: max-content;
                    max-width: 100%;
                    margin: 0;
                }
            }
            
            a.btn {
                justify-self: center;
                align-self: flex-end;
            }
        }
    }
}