@use "../1-config" as *;

.layout--billboard {
    &.image-last {
        .content-container {
            @include breakpoint("md-up"){
                grid-template-columns: minmax(0, 4fr) minmax(0, 3fr);
                .image-container,
                .video-container {
                    order: 100000;
                }
            }
            .video-container.mobile.iphone-overlay {
                justify-self: flex-end;
                @include breakpoint("md-down") {
                    justify-self: center;
                }
            }
        }
    }
    &.image-first {
        .content-container {
            .video-container.mobile.iphone-overlay {
                justify-self: flex-start;
                @include breakpoint("md-down") {
                    justify-self: center;
                }
            }
        }
    }
    &.has-bg-color {
        &.brand-color-2,
        &.client-brand-color {
            .billboard-pre-headline,
            .billboard-headline,
            .billboard-subtitle,
            p {
                color: #fff;
            }
        }
    }
    &.has-white-text {
        .billboard-pre-headline,
        .billboard-headline,
        .billboard-subtitle,
        li,
        span,
        p {
            color: #fff;
        }
    }
    .content-container {
        display: grid;
        grid-template-columns: minmax(0, 3fr) minmax(0, 4fr);
        gap: linear-clamp( 24px, 60px, 992px, 1400px );
        align-items: center;
        @include breakpoint("md-down"){
            grid-template-columns: minmax(0, 1fr);
        }
        .billboard-pre-headline {
            &:has( + .billboard-headline ) {
                margin-bottom: 0.25rem;
            }
        }
        .billboard-headline {
            margin-bottom: 1.5rem;
            &:has( + .billboard-subtitle) {
                margin-bottom: 0.25rem;
            }
        }
        .billboard-subtitle {
            margin-bottom: 1rem;
        }
        p {
            &:has(i[class^='fa-']) {
                margin-bottom: 0.5ch;
            }
        }
        i {
            font-size: calc( 2 * var(--rcd-font-size-base) );
        }
        ul,ol {
            margin-bottom: 1.5rem;
        }
    }
    &.fill-space{
        .image-container {
            img,svg {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    &.native-width{
        .image-container {
            img,svg {
                max-width: 325px;
                width: 100%;
                height: auto;
                margin-inline: auto;
                display: block;
            }
        }
    }
    &.top-align-content {
        .content-container {
            align-items: flex-start;
        }
    }
    &.bottom-align-content {
        .content-container {
            align-items: flex-end;
        }
    }
    &.multiple-images {
        .image-container {
            img, svg {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &.video-billboard {
        .video-container {
            width: 100%;
            position: relative;
            overflow: hidden;
            &.widescreen {
                --aspect-ratio: 16/9;
            }
            &.fullscreen {
                --aspect-ratio: 4/3;
            }
            &.square {
                --aspect-ratio: 1/1;
            }
            &.mobile {
                --aspect-ratio: 9/16;
                width: 100%;
                height: auto;
                aspect-ratio: var(--aspect-ratio);
            }
            &.iphone-overlay {
                position: relative;
                display: flex;
                align-items: center;
                max-width: 450px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(#{$image_assets} + '/iphone-small.png');
                    aspect-ratio: 9/16;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    pointer-events: none;
                }
                .wp-video {
                    display: flex;
                    align-items: center;
                    height: calc(100% - 30px);
                    width: calc(100% - 30px) !important;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-inline: auto;
                    border-radius: 10px;
                    overflow:hidden;
                    iframe,
                    video {
                        object-fit: cover;
                    }
                }
            }
            iframe,
            video,
            .wp-video {
                width: 100% !important;
                height: auto;
                aspect-ratio: var(--aspect-ratio);
                .wp-video-shortcode {
                    width: 100% !important;
                    height: 100% !important;
                    &.no-controls {
                        .mejs-controls {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .image-container {
        width:100%;
        position: relative;
        overflow:hidden;
    }
    ul.slick-dots {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        padding-left: 0;
        gap: 1rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 0.5rem;
        li {
            button {
                background: var(--rcd-brand-color-2);
                border-radius: 50%;
                border: 2px solid #fff;
                color: transparent;
                width: 15px;
                height: 15px;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
            &.slick-active {
                button {
                    background-color: var(--rcd-brand-color-1);
                }
            }
            &:first-child:last-child {
                display: none;
            }
        }
    }
}