@use "../1-config" as *;

.layout--classic-editor {
    &.has-bg-color {
        &.off-black-1,
        &.off-black-2,
        &.off-black-3,
        &.brand-color-1,
        &.brand-color-2 {
            .entry-content {
                *:not(a, form *) {
                    color: #fff;
                }
                

            }
        }
        &.brand-color-1 {
            .entry-content {
                form {
                    background-color: #fff;
                    padding: 24px;
                    border: 2px solid lightgray;
                    border-radius: 8px;
                    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                    label {
                        color: var(--rcd-text-color-body);
                    }
                }
            }
        }
    }
    &:not(.has-bg-color){
        .entry-content {
            form {
                padding: 24px;
                border: 2px solid lightgray;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            }
        }
    }
    .entry-content {
        & > *:only-child {
            margin-bottom: 0 !important;
        }
        form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            gap: 1.25rem;
            @include breakpoint("md-down") {
                grid-template-columns: 1fr;
            }          
        }
    }
    a.btn {
        display: block;
        margin-inline: auto;
    }
}