@use "../1-config" as *;
@use "../2-composition/accordion" as *;


.layout--faqs {
    .faqs-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    a.btn {
        display: block !important;
        margin-inline: auto;
        margin-top: 1.5rem;
    }
}