@use "../1-config" as *;

.layout--hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: linear-clamp( 250px, 600px, 545px, 1200px );
    z-index: 1;
    overflow:hidden;
    &.media-type-image {
        background-image: var(--background-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.media-type-solid-color {
        background-color: var(--background-color);
    }
    &.overlay-true {
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.4;
            z-index: 1;
        }
        h1, h2, h3, h4, h5, h6, p, a:not(.btn) {
            color: #fff;
        }
        .rcd-container {
            position: relative;
            z-index: 2;
        }
        .text-container {

            p{
                color: #fff !important;   
            }
            
        }
    }
    &.has-white-text {
        h1, h2, h3, h4, h5, h6, p, a:not(.btn) {
            color: #fff;
        }
        .text-container {
            p{
                color: #fff !important;   
            }
        }
    }
    &.parallax-true {
        background-attachment: fixed;
    }
    &.text-alignment-{
        &center {
            .text-container {
                text-align: center;
                margin-inline: auto;
            }
        }
        &right {
            .text-container {
                text-align: right;
                margin-inline: auto;
                
            }
        }
    }
    &.media-type-video {
        background-color: var(--rcd-brand-color-2);
        min-height: max(600px, 100vh);
        max-height: 100vh;
        @include breakpoint("lg-down") {
            min-height: linear-clamp( 250px, 600px, 545px, 1200px );
        }
        @include breakpoint("sm-down") {
            max-height: unset;
        }
        .wp-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100%;
            .wp-video-shortcode {
                width: 100% !important;
                height: 100% !important;
                &.no-controls {
                    .mejs-controls {
                        display: none;
                    }
                }
            }
        }
        iframe, video {
            width: 100%;
            height: auto !important;
            aspect-ratio: 16/9;
            object-fit: cover;
            border: none !important;
        }
        iframe {
            @include breakpoint("sm-down") {
                position: relative !important;
            }
        }
        .rcd-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include breakpoint("sm-down") {
                position: relative;
                transform: none;
                top: unset;
                left: unset;
            }
            .text-container {
                *:not(a.btn) {
                    color: #fff;
                }
            }
        }
    }
    .text-container {
        max-width: $max-text-width;
        display: grid;
        gap: 1rem;
        justify-content: center;
        @include breakpoint("sm-down") {
            text-align: center;
            margin-inline: auto;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        h1 {
            max-width: 25ch;
            margin-inline: auto;
            font-weight: 300;
            position: relative;
            font-size: linear-clamp(36px, 80px, 767px, 1350px);
        }
        h2 {
            font-weight: normal;
            margin-bottom: 0;
            margin-top: 0.5rem;
            font-size: linear-clamp(19px, 25px, 767px, 1200px);
        }
        p {
            font-weight: bold;
            font-size: linear-clamp(22px, 28px, 767px, 1200px);
            margin-bottom: 0;
        }
        a.btn {
            margin-inline: auto;
        }
    }
}