@use "../1-config/" as *;
@use "../2-composition/cards" as *;

.layout--icon-cards {
    .cards-container {
        justify-content: center;
        /*@include breakpoint("sm-up") {
            justify-content: space-between;
        }*/
        .card {
            border: none;
            img, svg {
                max-width: 200px;
                min-width: 100px;
                width: auto;
                height: auto;
                object-fit: contain;
                object-position: center;
                aspect-ratio: 1/1;
                display: block;
                margin-inline: auto;
                transition: transform 0.25s linear;
            }
            .content-container {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                align-items: flex-start;
                
                .card-title {
                    text-align: center;
                    font-size: var(--rcd-font-h6-size);
                    color: var(--rcd-text-color-body);
                    margin-bottom: 0;
                }
                .card-content {
                    text-align: center;
                }

            }
            .btn {
                display: block;
                margin-inline: auto;
                margin-bottom: 1.5rem;
            }
        }
        &:has(+ a.btn) {
            margin-bottom: 2rem;
        }
        & + a.btn {
            display: block;
            margin-inline: auto;
        }
    }
    &.four-columns {
        .cards-container {
            gap: 1.5rem;
            --card-width: calc(25% - 1.5rem);
            @include breakpoint("md-down") {
                --card-width: calc(33.333% - 1.5rem);
            }
            @include breakpoint("sm-down") {
                --card-width: calc(50% - 1.5rem);
            }
            @include breakpoint("micro-down") {
                --card-width: 100%;
            }
            .card {
                flex: 0 0 var(--card-width);
                max-width: var(--card-width);
            }
        }
    }
    &.three-columns {
        .cards-container {
            gap: 1.5rem;
            --card-width: calc(33.333% - 1.5rem);
            @include breakpoint("sm-down") {
                --card-width: calc(50% - 1.5rem);
            }
            @include breakpoint("micro-down") {
                --card-width: 100%;
            }
        }
    }
    &.has-bg-color {
        &.brand-color-2 {
            .card {
                .card-title {
                    color: #fff;
                }
                .card-content {
                    p{
                        color: #fff;
                    }
                }
            }
        }
    }
}