@use "../1-config/" as *;

.layout--image-masonry {
    .images-container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1.5rem;
        align-items: stretch;
        .single-image {
            &.full {
                grid-column: 1/-1;
            }
            &.half {
                grid-column: span 6;
                @include breakpoint("sm-down") {
                    grid-column: 1/-1;
                }
            }
            &.third {
                grid-column: span 4;
            }
            &.fourth {
                grid-column: span 3;
            }
            &.two-thirds {
                grid-column: span 8;
            }
            &.three-fourths {
                grid-column: span 9;
            }
            img {
                width: 100%;
                display: block;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}