@use '../1-config/' as *;

.layout--image-grid {
    .images-container {
        width: 100%;
        overflow:hidden;
        .single-image,
        .single-linked-image {
            img {
                width: auto;
                height: auto;
                object-fit: contain;
                max-width: 100%;
                margin-inline: auto;
            }
        }
    }
    &.full-width {
        .images-container {
            & > div,
            & > a {
                img {
                    width: 100% !important;
                    height: auto;
                }
            }
        }
    }
    &:not(.slider) {
        .images-container {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-between;
            gap: 3rem 1.5rem;
            @include breakpoint("md-down") {
                gap: 1.5rem;
            }
            & > div,
            & > a,
            .single-image {
                flex: 0 0 var(--image-width);
                max-width: var(--image-width);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    max-width: 100%;
                }
            }
            & > a {
                transition: transform 0.25s linear;
                &:hover,
                &:focus {
                    transform: scale(1.05);
                }
            }
        }
        &.four-columns {
            .images-container {
                --image-width: calc(25% - 1.5rem);
                @include breakpoint("md-down") {
                    --image-width: calc(33.333% - 1.5rem);
                }
                @include breakpoint("sm-down") {
                    --image-width: calc(50% - 1.5rem);
                }
                @include breakpoint("micro-down") {
                    --image-width: 100%;
                }
                & > div,
                & > a {
                    @include breakpoint("md-up") {
                        &:nth-child(4n+1):nth-last-child(3),
                        &:nth-child(4n+1):nth-last-child(2) {
                            margin-left: auto;
                        }
                        &:nth-child(4n+3):last-child,
                        &:nth-child(4n+2):last-child {
                            margin-right: auto;
                        }
                    }
                    @include breakpoint("md-down") {
                        &:nth-child(3n+1):last-child {
                            margin-inline: auto;
                        }
                    }
                }
            }
        }
        &.three-columns {
            --image-width: calc(33.333% - 1.5rem);
            @include breakpoint("sm-down") {
                --image-width: calc(50% - 1.5rem);
            }
            @include breakpoint("micro-down") {
                --image-width: 100%;
            }
            .images-container {
                & > div,
                & > a {
                    @include breakpoint("sm-up") {
                        &:nth-child(3n+1):nth-last-child(2),
                        &:nth-child(3n+1):last-child {
                            margin-left: auto;
                        }
                        &:nth-child(3n+1):last-child,
                        &:nth-child(3n+2):last-child {
                            margin-right: auto;
                        }
                    }
                    @include breakpoint("sm-down") {
                        &:nth-child(3n+1):last-child {
                            margin-inline: auto;
                        }
                    }
                }
            }
        }
    }
    &.slider,
    &.mobile-slider {
        .slick-track {
            display: flex;
            gap: 1.5rem;
            max-width:100%;
        }
        ul.slick-dots {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            padding-left: 0;
            gap: 1rem;
            position: absolute;
            bottom: -24px;
            margin-bottom: 0.5rem;
            li {
                button {
                    background: var(--rcd-brand-color-2);
                    border-radius: 50%;
                    border: 2px solid #fff;
                    color: transparent;
                    width: 15px;
                    height: 15px;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }
                &.slick-active {
                    button {
                        background-color: var(--rcd-brand-color-1);
                    }
                }
                &:first-child:last-child {
                    display: none;
                }
            }
        }
        .images-container {
            padding-bottom: 48px;
            width: 100%;
        }
    }
    &.mobile-slider {
        .slick-list {
            width: 100% !important;
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
        .slick-track {
            width:100% !important;
            max-width:100% !important;
        }
        ul.slick-dots {
            bottom: -18px !important;
        }
    }
}