@use "../1-config/" as *;

.layout--image {
    img {
        display: block;
        width: 100%;
        height: auto;
        margin-inline: auto;
    }
    &.text-width {
        img {
            max-width: $max-text-width;
        }
    }

}