@use "../1-config/" as *;

.layout--instagram-posts {
    .rcd-container {
        & > a {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1ch;
            text-align: center;
            margin-inline: auto;
            text-decoration: none;
            font-size:var(--rcd-font-size-xl);
            margin-bottom: 2rem;
            i {
                font-size: 32px;
            }
        }
        .posts-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 1.5rem;
            justify-content: center;
            .single-post {
                flex: 0 0 calc(33.3333% - 1.5rem);
                max-width: calc(33.3333% - 1.5rem);
                @include breakpoint("md-down") {
                    flex: 0 0 calc(50% - 1.5rem);
                    max-width: calc(50% - 1.5rem);
                }
                @include breakpoint("md-down") {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                iframe {
                    width: 100% !important;
                    max-width: 100% !important;
                    min-width: 0 !important;
                }
            }
        }
    }
}