@use "../1-config/" as *;

.layout--media-masonry{
    .rcd-container {
        .media-container {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 1.5rem;
            align-items: stretch;
            .single-media {
                &.full {
                    grid-column: 1/-1;
                }
                &.half {
                    grid-column: span 6;
                    @include breakpoint("sm-down") {
                        grid-column: 1/-1;
                    }
                }
                &.third {
                    grid-column: span 4;
                }
                &.fourth {
                    grid-column: span 3;
                    @include breakpoint("md-down") {
                        grid-column: span 6;
                    }
                    @include breakpoint("xs-down") {
                        grid-column: 1/-1;;
                    }
                }
                &.two-thirds {
                    grid-column: span 8;
                }
                &.three-fourths {
                    grid-column: span 9;
                }
                &.two-rows {
                    grid-row: span 2;
                }
                &.three-rows {
                    grid-row: span 3;
                }
                &.four-rows {
                    grid-row: span 4;
                }
                &.widescreen {
                    --aspect-ratio: 16/9;
                }
                &.fullscreen {
                    --aspect-ratio: 4/3;
                }
                &.square {
                    --aspect-ratio: 1/1;
                }
                &.mobile {
                    --aspect-ratio: 9/16;
                }   
                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
                iframe,
                video,
                .wp-video {
                    width: 100% !important;
                    height: auto;
                    aspect-ratio: var(--aspect-ratio);
                    .wp-video-shortcode {
                        width: 100% !important;
                        height: 100% !important;
                        &.no-controls {
                            .mejs-controls {
                                display: none;
                            }
                        }
                    }
                }

            }
        }
    }
}