@use "../1-config/" as *;

.layout--mini-billboards {
    .rcd-container {
        .billboards-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            @import "../3-content-blocks/billboard.scss";
            .layout--billboard {
                flex: 0 0 calc(50% - 1rem);
                max-width: calc(50% - 1rem);
                @include breakpoint("sm-down") {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        .rcd-container {
            padding-inline: 0 !important;
        }
    }
}