@use "../1-config/" as *;

.layout--social-media-icons {
    .social-media-accounts-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        .single-account {
            flex: 0 0 calc(25% - 1.5rem);
            max-width: calc(25% - 1.5rem);
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5ch;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                transition: transform 0.25s linear, color 0.25s linear;
                i {
                    font-size: linear-clamp(48px, 64px, 767px, 1200px);
                    color: var(--icon-color);
                    transition: color 0.25s linear;
                }
                &:hover,
                &:focus {
                    transform: scale(1.05);
                    color: var(--rcd-brand-color-1);
                    i {
                        color: var(--rcd-brand-color-1);
                    }
                }
            }
        }
    }
}