@use "../1-config/" as *;

.layout--two-columns-text {
    &.has-bg-color {
        &.off-black-1,
        &.off-black-2,
        &.off-black-3,
        &.brand-color-1,
        &.brand-color-2 {
            .columns-container {
                *:not(a.btn) {
                    color: #fff;
                }
            }

        }
    }
    &.fifty-fifty {
        .columns-container {
            grid-template-columns: 1fr 1fr;
        }
    }
    &.sixty-forty {
        .columns-container {
            grid-template-columns: 6fr 4fr;
        }
    }
    &.seventy-thirty {
        .columns-container {
            grid-template-columns: 7fr 3fr;
        }
    }
    &.forty-sixty {
        .columns-container {
            grid-template-columns: 4fr 6fr;
        }
    }
    &.thirty-seventy {
        .columns-container {
            grid-template-columns: 3fr 7fr;
        }
    }
    &.xl-p {
        .columns-container {
            & > .entry-content {
                p,
                li,
                a {
                    font-size: var(--rcd-font-size-xl) !important;
                }
            }
        }
    }
    &.lg-p {
        .columns-container {
            & > .entry-content {
                p,
                li,
                a {
                    font-size: var(--rcd-font-size-lg) !important;
                }
            }
        }
    }
    &.sm-p {
        .columns-container {
            & > .entry-content {
                p,
                li,
                a {
                    font-size: var(--rcd-font-size-sm) !important;
                }
            }
        }
    }
    &.xs-p {
        .columns-container {
            & > .entry-content {
                p,
                li,
                a {
                    font-size: var(--rcd-font-size-xs) !important;
                }
            }
        }
    }

    .columns-container {
        width: 100%;
        display: grid;
        gap: linear-clamp( 18px, 32px, 767px, 1200px);
        @include breakpoint("md-down") {
            grid-template-columns: 1fr 1fr !important;
        }
        @include breakpoint("sm-down") {
            grid-template-columns: 1fr !important;
        }
        & > .entry-content {
            max-width: 100%;
            p > img {
                max-width: 100%;
                height: auto;
            }
            img{
                &.alignright{
                    float:right;
                }
                &.alignleft{
                    float:left;
                }
            }
            form {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: flex-start;
                gap: 1.25rem;
                @include breakpoint("md-down") {
                    grid-template-columns: 1fr;
                }
                br {
                    display: none;
                }
                .form-group {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 0.5ch;
                    grid-column: 1/-1;
                    &.name {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1.25rem;
                        @include breakpoint("sm-down") {
                            grid-template-columns: 1fr;
                            label{
                                &:first-of-type {
                                    order: -1;
                                }
                                &:last-of-type {
                                    order: 1;
                                }
                            }
                            input {
                                &:first-of-type {
                                    order: 0;
                                }
                                &:last-of-type {
                                    order: 2;
                                }
                            }
                        }
                    }
                    &:has(input[type="submit"]) {
                        grid-column: 1/-1;
                        input {
                            margin-inline: auto;
                        }
                    }
                    input:not([type="submit"]),
                    select, 
                    textarea {
                        width: 100%;
                        font-size: 16px;
                        padding: 0.5em 0.75em;
                        color: var(--rcd-text-color-body);
                        border: 1px solid #333;
                        border-radius: 4px;
                        align-self: flex-start;
                    }
                    textarea {
                        max-height: 7.5ch;
                    }
                }
                .wpcf7-response-output {
                    grid-column: 1/-1;
                    width: 100%;
                    margin: 0;
                    padding: 0.75em 1.25em;
                    font-size: var(--rcd-font-size-lg);
                    font-weight: bold;
                    text-align: center;
                    color: #fff;
                    border-radius: 4px;
                }
                &.invalid {
                    .wpcf7-response-output {
                        background-color: #ff4f4f;
                        border-color: #ff4f4f;
                    }
                }
                &.sent {
                    .wpcf7-response-output {
                        background-color: #4a934a;
                        border-color: #4a934a;
                    }
                }
                
            }
        }
    }
}