@use "../1-config/" as *;

.layout--video-grid {
    .videos-container {
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        .single-video {
            flex: 0 0 var(--video-width);
            width: 100%;
            max-width: var(--video-width);
            iframe,
            video,
            .wp-video {
                width: 100% !important;
                height: auto;
                aspect-ratio: var(--aspect-ratio);
                .wp-video-shortcode {
                    width: 100% !important;
                    height: 100% !important;
                    &.no-controls {
                        .mejs-controls {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.four-columns {
        .videos-container {
            .single-video {
                --video-width: calc(25% - 1.5rem);
                @include breakpoint("md-down") {
                    --video-width: calc(33.333% - 1.5rem);
                }
                @include breakpoint("sm-down") {
                    --video-width: calc(50% - 1.5rem);
                }
                @include breakpoint("micro-down") {
                    --video-width: 100%;
                }
            }
        }
    }
    &.three-columns {
        .videos-container {
            .single-video {
                --video-width: calc(33.333% - 1.5rem);
                @include breakpoint("sm-down") {
                    --video-width: calc(50% - 1.5rem);
                }
                @include breakpoint("micro-down") {
                    --video-width: 100%;
                }
            }
        }
    }
    &.widescreen {
        .videos-container {
            .single-video {
                --aspect-ratio: 16/9;
            }
        }
    }
    &.fullscreen {
        .videos-container {
            .single-video {
                --aspect-ratio: 4/3;
            }
        }
    }
    &.square {
        .videos-container {
            .single-video {
                --aspect-ratio: 1/1;
            }
        }
    }
    &.mobile {
        .videos-container {
            .single-video {
                --aspect-ratio: 9/16;
            }
        }
    }
}