@use "../1-config/" as *;

.layout--video {
    &.widescreen {
        .video-container {
             --aspect-ratio: 16/9;
        }
    }
    &.fullscreen {
        .video-container {
            --aspect-ratio: 4/3;
        }
    }
    &.square {
        .video-container {
            --aspect-ratio: 1/1;
        }
    }
    &.mobile {
        .video-container {
            --aspect-ratio: 9/16;
        }
    }
    &.container-width {
        .video-container {
            width: 100%;
        }
    }
    &.text-width {
        .video-container {
            max-width: $max-content-width;
            margin-inline: auto;
        }
    }
    &.video-cover {
        .video-container {
            iframe,
            video,
            .wp-video {
                object-fit: cover;
            }
        }
    }
    &.video-contain {
        .video-container {
            iframe,
            video,
            .wp-video {
                object-fit: contain;
            }
        }
    }
    .video-container {
        iframe,
        video,
        .wp-video {
            width: 100% !important;
            height: auto;
            aspect-ratio: var(--aspect-ratio);
            .wp-video-shortcode {
                width: 100% !important;
                height: 100% !important;
                &.no-controls {
                    .mejs-controls {
                        display: none;
                    }
                }
            }
        }
        & + p.video-caption {
            text-align: center;
            margin-top: 1.5ch;
            margin-bottom: 0;
            font-weight: 600;
        }
    }
}