@use "../1-config/" as *;

.layout--video-carousel {
    .video-carousel-container {
        position: relative;
        --video-width: calc(20vw - 1.5rem);
        @include breakpoint("lg-down") {
            --video-width: calc(25vw - 1.5rem);
        }
        @include breakpoint("md-down") {
            --video-width: calc(33.333vw - 1.5rem);
        }
        @include breakpoint("sm-down") {
            --video-width: calc(50vw - 1.5rem);
        }
        @include breakpoint("micro-down") {
            --video-width: 100vw;
        }
        .slick-track {
            display: flex;
            gap: 1.5rem;
        }
        .single-video {
            //flex: 0 0 var(--video-width);
            width: 100%;
            //max-width: var(--video-width);
            iframe,
            video,
            .wp-video {
                width: 100% !important;
                height: auto;
                aspect-ratio: var(--aspect-ratio);
                border-radius: 30px;
                overflow: hidden;
                .wp-video-shortcode {
                    width: 100% !important;
                    height: 100% !important;
                    &.no-controls {
                        .mejs-controls {
                            display: none;
                        }
                    }
                }
            }
            p.video-caption {
                text-align: center;
                margin-top: 1.5ch;
                margin-bottom: 0;
                font-weight: 600;
            }
        }
        ul.slick-dots {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            padding-left: 0;
            gap: 1rem;
            position: absolute;
            bottom: 0;
            margin-bottom: 0.5rem;
            li {
                button {
                    background: var(--rcd-brand-color-2);
                    border-radius: 50%;
                    border: 2px solid #fff;
                    color: transparent;
                    width: 15px;
                    height: 15px;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }
                &.slick-active {
                    button {
                        background-color: var(--rcd-brand-color-1);
                    }
                }
                &:first-child:last-child {
                    display: none;
                }
            }
        }
        
    }
    &.widescreen {
        .video-carousel-container {
            .single-video {
                --aspect-ratio: 16/9;
            }
        }
    }
    &.fullscreen {
        .video-carousel-container {
            .single-video {
                --aspect-ratio: 4/3;
            }
        }
    }
    &.square {
        .video-carousel-container {
            .single-video {
                --aspect-ratio: 1/1;
            }
        }
    }
    &.mobile {
        .video-carousel-container {
            .single-video {
                --aspect-ratio: 9/16;
            }
        }
    }
}