@use 'variables' as *;
@use 'sass:map';
@use 'sass:math';

@function strip-units( $num ) {

    @return math.div($num, $num * 0 + 1);
}

@function css-function( $function, $values... ) {

    @return
        $function
        + unquote( "(" )
        + $values
        + unquote( ")" )
    ;
}

@function css-min( $values... ) {

    @return css-function( min, $values );
}

@function css-max( $values... ) {

    @return css-function( max, $values );
}

@function css-clamp( $values... ) {

    @return css-function( clamp, $values );
}

/// Computes a linear scale between two values and two screen widths.
///
/// Important Note: All four values must use the same unit.
///
/// @param {number} $min
///   The minimum value for this property.
/// @param {number} $max
///   The maximum value for this property.
/// @param {number} $min-width
///   The screen width at which scaling begins.
/// @param {number} $max-width
///   The screen width at which scaling ends.
/// @return {string} CSS clamp function with linear scale.
@function linear-clamp($min, $max, $min-width, $max-width) {
    $slope: math.div(strip-units($max) - strip-units($min), strip-units($max-width) - strip-units($min-width));
    $rate: $slope * 100vw;

    $intercept: -1 * $min-width * $slope + $min;

    @return css-clamp( #{$min}, calc(#{$intercept} + #{$rate} ), #{$max} );
}