@use 'variables' as *;
@use 'functions' as *;
@use "sass:map";
@use "sass:math";

@mixin breakpoint($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
        }
    }
    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin btn {
    width: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    font-size: linear-clamp( 15.5px, 18px, 767px, 992px);
    border-radius: 0px;
    font-weight: 600;
    font-family: var(--rcd-font-family-base);
    border-width: 2px;
    border-style: solid;
    &.btn-solid {
        color: #fff;
        background-color: var(--button-color);
        border-color: var(--button-color);
        transition: background-color 0.25s linear, border-color 0.25s linear;
        &:hover,
        &:focus {
            background-color: var(--button-hover-color);
            border-color: var(--button-hover-color);
        }
    }
    &.btn-outline {
        border-width: 2px;
        border-color: var(--button-color);
        color: var(--button-color );
        transition: background-color 0.25s linear, border-color 0.25s linear, color 0.25s linear;
        &:hover,
        &:focus {
            background-color: var(--button-color);
            border-color: var(--button-color);
            color: #fff;
        }
    }
    &.brand-color-1 {
        --button-color: var(--rcd-brand-color-1);
        --button-hover-color: var(--rcd-brand-color-2);
        &:hover,
        &:focus {
            color: #fff;
            border-color: var(--rcd-brand-color-1);
        }
    }
    &.brand-color-2 {
        --button-color: var(--rcd-brand-color-2);
        --button-hover-color: var(--rcd-brand-color-1);
        &:hover,
        &:focus {
            color: #fff;
        }
    }
    &.brand-color-3 {
        --button-color: var(--rcd-brand-color-3);
        --button-hover-color: var(--rcd-brand-color-1);

    }
    &.brand-color-4 {
        --button-color: var(--rcd-brand-color-4);
        --button-hover-color: var(--rcd-brand-color-2);

    }
}
@mixin wp-block-btn {
    --button-color: var(--rcd-brand-color-1);
    --button-hover-color: var(--rcd-brand-color-2);
    & > a.wp-element-button {
        width: max-content;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5ch;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5em 1.25em !important;
        font-size: linear-clamp( 15.5px, 18px, 767px, 992px);
        border-radius: 0px;
        font-weight: 600;
        font-family: var(--rcd-font-family-base);
        border-width: 2px !important;
        border-style: solid !important;
        @for $i from 1 through 9 {
            &.has-brand-color-#{$i}-background-color {
                --button-color: var(--rcd-brand-color-#{$i});
                --button-hover-color: var(--rcd-brand-color-#{$i + 1});
                &:hover,
                &:focus {
                    color: #fff !important;
                    border-color: var(--rcd-brand-color-#{$i});
                }
            }
        }
        &.has-body-color-background-color {
            --button-color: var(--rcd-text-color-body);
            --button-hover-color: var(--rcd-brand-color-1);
            &:hover,
            &:focus {
                color: #fff !important;
                border-color: var(--rcd-text-color-body);
            }
        }
    }
    &.is-style-outline {
        & > a.wp-element-button {
            background-color: transparent !important;
            border-width: 2px;
            border-color: var(--button-color);
            color: var(--button-color ) !important;
            transition: background-color 0.25s linear, border-color 0.25s linear, color 0.25s linear;
            &:hover,
            &:focus {
                background-color: var(--button-color) !important;
                border-color: var(--button-color) !important;
                color: #fff;
            }
        }
    }
    &.is-style-fill {
        & > a.wp-element-button {
            color: #fff !important;
            background-color: var(--button-color) !important;
            border-color: var(--button-color) !important;
            transition: background-color 0.25s linear, border-color 0.25s linear;
            &:hover,
            &:focus {
                background-color: var(--button-hover-color);
                border-color: var(--button-hover-color);
            }
        }
    }
    &.has-xl-font-size {
        & > a.wp-element-button {
            font-size: var(--rcd-font-size-xl) !important;
        }
    }
    &.has-lg-font-size {
        & > a.wp-element-button {
            font-size: var(--rcd-font-size-lg) !important;
        }
    }
    &.has-sm-font-size {
        & > a.wp-element-button {
            font-size: var(--rcd-font-size-sm) !important;
        }
    }
    &.has-xs-font-size {
        & > a.wp-element-button {
            font-size: var(--rcd-font-size-xs) !important;
        }
    }
}


@mixin rgba-background($hexcolor, $opacity) {
    background-color: $hexcolor;
    background-color: rgba($hexcolor, $opacity); 
}

@mixin remove-horizontal-padding{
    padding-left: 0;
    padding-right: 0;
}

@mixin remove-vertical-padding{
    padding-top: 0;
    padding-bottom: 0;
}

@mixin h1 {
    font-family: var(--rcd-font-h1-font-family);
    font-size: var(--rcd-font-h1-size);
    letter-spacing: var(--rcd-font-h1-letter-spacing);
    text-transform: var(--rcd-font-h1-text-transform);
    font-weight: var(--rcd-font-h1-font-weight);
    line-height: var(--rcd-font-h1-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin h2 {
    font-family: var(--rcd-font-h2-font-family);
    font-size: var(--rcd-font-h2-size);
    letter-spacing: var(--rcd-font-h2-letter-spacing);
    text-transform: var(--rcd-font-h2-text-transform);
    font-weight: var(--rcd-font-h2-font-weight);
    line-height: var(--rcd-font-h2-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin h3 {
    font-family: var(--rcd-font-h3-font-family);
    font-size: var(--rcd-font-h3-size);
    letter-spacing: var(--rcd-font-h3-letter-spacing);
    text-transform: var(--rcd-font-h3-text-transform);
    font-weight: var(--rcd-font-h3-font-weight);
    line-height: var(--rcd-font-h3-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin h4 {
    font-family: var(--rcd-font-h4-font-family);
    font-size: var(--rcd-font-h4-size);
    letter-spacing: var(--rcd-font-h4-letter-spacing);
    text-transform: var(--rcd-font-h4-text-transform);
    font-weight: var(--rcd-font-h4-font-weight);
    line-height: var(--rcd-font-h4-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin h5 {
    font-family: var(--rcd-font-h5-font-family);
    font-size: var(--rcd-font-h5-size);
    letter-spacing: var(--rcd-font-h5-letter-spacing);
    text-transform: var(--rcd-font-h5-text-transform);
    font-weight: var(--rcd-font-h5-font-weight);
    line-height: var(--rcd-font-h5-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin h6 {
    font-family: var(--rcd-font-h6-font-family);
    font-size: var(--rcd-font-h6-size);
    letter-spacing: var(--rcd-font-h6-letter-spacing);
    text-transform: var(--rcd-font-h6-text-transform);
    font-weight: var(--rcd-font-h6-font-weight);
    line-height: var(--rcd-font-h6-line-height);
    color: var(--rcd-text-color-heading);
    &:not(.wp-block-heading, [class]) {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
