/* Theme Defaults */
$base-font-size      : var(--rcd-font-size-base);
$base-font-family    : var(--rcd-font-family-base);
$font-awesome-family : "Font Awesome 6 Pro";
$transition          : 0.25s all ease-in-out;
$text-shadow         : 2px 3px 5px rgba(0,0,0,0.5);

/* Project Specific Colors */

/* Theme Default Colors */
$colors : (
    'black'     :  #000000,
    'dark-grey' :  #212121,
    'white'     :  #ffffff,
) !default;

$white : #fff;
$black: #000;
$darkgrey: #212121;
$success : #28a745;
$error : #dc3545;
 

/* Responsive Breakpoints */
$breakpoints: (
    'micro-up'  : (min-width: 376px),
    'micro-down': (max-width: 375px),
    'mini-up'   : (min-width: 476px),
    'mini-down' : (max-width: 475px),
    'xs-up'     : (min-width: 576px),
    'xs-down'   : (max-width: 575px),
    'sm-up'     : (min-width: 768px),
    'sm-down'   : (max-width: 767px),
    'md-up'     : (min-width: 992px),
    'md-down'   : (max-width: 991px),
    'lg-up'     : (min-width: 1200px),
    'lg-down'   : (max-width: 1199px),
    'xl-up'     : (min-width: 1350px),
    'xl-down'   : (max-width: 1349px),
    '2xl-up'     : (min-width: 1500px),
    '2xl-down'   : (max-width: 1499px)
) !default;

/* Spacing Values */
$module-vert-space: 4rem;

/* Width Values */
$max-container-width: 1500px;
$max-content-width: 875px;
$max-text-width : $max-content-width;
$sitewide-gutter: linear-clamp( 24px, 36px, 575px, 992px );
$full-padding: linear-clamp( 32px, 72px, 767px, 992px ); 
$small-padding: linear-clamp( 24px, 56px, 767px, 992px );
$xs-padding: linear-clamp( 18px, 32px, 767px, 992px );

$image_assets: '/wp-content/themes/rcd-edge/dist/images/';
