@use "1-config" as *;

.acf-field[data-name="header_cta_color"],
.acf-field[data-name="color"] {
    .acf-input {
        ul li {
            margin-bottom: 1rem;
            &:has([type="radio"]:checked) {
                font-weight: bold;
            }
            input {
                &[type="radio"] {
                    width: 1.55rem;
                    height: 1.55rem;
                    &:checked {
                        border: 2px solid #ffff99;
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }
        }
        .acf-input-wrap {
            position: relative;
            --brand-color: #fff;
            &:after{
                content: '';
                box-sizing: border-box;
                width: auto;
                height: 100%;
                aspect-ratio: 1/1;
                background-color: var(--brand-color);
                border-radius: 4px;
                position: absolute;
                left: 208px;
                border: 1px solid #8c8f94;
            }
            input[type="text"] {
                max-width: 200px;
            }
        }
    }
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-1"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-1"]{
    background-color: var(--rcd-brand-color-1);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-2"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-2"]
{
    background-color: var(--rcd-brand-color-2);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-3"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-3"]{
    background-color: var(--rcd-brand-color-3);
}

.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-4"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-4"]{
    background-color: var(--rcd-brand-color-4);
}

.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-5"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-5"]{
    background-color: var(--rcd-brand-color-5);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-6"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-6"]{
    background-color: var(--rcd-brand-color-6);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-7"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-7"]{
    background-color: var(--rcd-brand-color-7);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-8"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-8"]{
    background-color: var(--rcd-brand-color-8);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="brand-color-9"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="brand-color-9"]{
    background-color: var(--rcd-brand-color-9);
}
.acf-field[data-name*="cta_color"] .acf-input ul li input[value="client-brand-color"],
.acf-field[data-name*="background_color"] .acf-input ul li input[value="client-brand-color"]{
    background-color: var(--rcd-client-brand-color);
}

.acf-field[data-name*="background_color"] .acf-input ul li input[value="off-white-1"]{
    background-color: var(--rcd-color-off-white-1);
    
}
.acf-field[data-name*="background_color"] .acf-input ul li input[value="off-white-2"]{
    background-color: var(--rcd-color-off-white-2);
}
.acf-field[data-name*="background_color"] .acf-input ul li input[value="off-black-1"]{
    background-color: var(--rcd-color-off-black-1);
}
.acf-field[data-name*="background_color"] .acf-input ul li input[value="off-black-2"]{
    background-color: var(--rcd-color-off-black-2);
}
.acf-field[data-name*="background_color"] .acf-input ul li input[value="off-black-3"]{
    background-color: var(--rcd-color-off-black-3);
}
.acf-field[data-key="field_654965d51831a"] .acf-relationship .list {
    height:auto;
}