@use "./1-config/" as *;

body.post-type-archive {
    &-rcd_services,
    &-rcd_industries {
        header.page-header {
            position: relative;
            min-height: 450px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint("xs-down") {
                margin-bottom: 25px;
            }
            &.dark-overlay {
                &:before {
                    content: '';
                    position: absolute;
                    top:0 ;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.5);
                }
                .text-container {
                    background-color: transparent !important;
                }
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .text-container {
                margin-inline: auto;
                padding: linear-clamp(18px, 32px, 767px, 1500px);
                background-color: rgba(0,0,0,0.5);
                h1, p{
                    color: #fff;
                    text-align: center;
                }
                p {
                    font-size: var(--rcd-font-size-xl);
                }
            }
        }
        .cpts-container {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
            margin-top: -50px;
            article.single-cpt {
                --icon-size: 36px;
                border: 1px solid #ccc;
                flex: 0 0 33.333%;
                max-width: 33.333%;
                width: 100%;
                padding: linear-clamp( 18px, 32px, 767px, 1200px);
                background-color: #fff;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    display: block;
                    background-color: var(--rcd-brand-color-1);
                    z-index: 0;
                    transition: height 0.25s linear;
                }
                &:hover,
                &:focus-within {
                    &:before {
                        height: 100%;
                    }
                    .text-container {
                        h1, p, i {
                            color: #fff;
                        }
                        .btn {
                            color: #fff;
                            border-color: #fff;
                            background: var(--rcd-brand-color-2);
                        }
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
                @include breakpoint("md-down") {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @include breakpoint("sm-down") {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .text-container {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;
                    text-align: center;
                    height: 100%;
                    position: relative;
                    z-index: 1;
                    text-decoration: none;
                    font-weight: unset;
                }
                h1 {
                    align-self: flex-start;
                    margin-bottom: 0;
                    transition: color 0.33s ease-in;
                    font-weight: 500;
                }
                i {
                    align-self: flex-start;
                    font-size: var(--icon-size);
                    text-align: center;
                    transition: color 0.33s ease-in;
                }
                p {
                    margin-bottom: 0;
                    align-self: flex-start;
                    transition: color 0.33s ease-in;
                }
                img  {
                    width: var(--icon-size);
                    height: var(--icon-size);
                    object-fit: contain;
                    align-self: flex-start;
                    margin-inline: auto;
                    transition: filter 0.33s linear;
                }
                .btn {
                    align-self: flex-end;
                    margin-inline: auto;
                }
            }
        }
    }
    &-rcd_news {
        #site-content {
            .rcd-container {
                display: grid;
                grid-template-columns: 3fr 2fr;
                gap: 1.5rem;
                @include breakpoint("lg-down") {
                    grid-template-columns: 1fr 1fr;
                }
                @include breakpoint("md-down") {
                    grid-template-columns: 1fr;
                }
                .posts-container {
                    padding-bottom: 1.5rem;
                    .single-post {
                        border: 1px solid #ccc;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        transition: 0.25s linear box-shadow, 0.25s linear transform;
                        &:hover,
                        &:focus-within {
                            transform: scale(1.005);
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        }
                        & > a {
                            text-decoration: none;
                            font-weight: initial;
                        }
                        .content-container {
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 1rem;
                            .image-container {
                                width: 100%;
                                position: relative;
                                background-color: var(--rcd-color-off-white-1);
                                img {
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    aspect-ratio: 16/6;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .text-container {
                                padding: 18px;
                                p {
                                    text-decoration: none;
                                    &.post-title {
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .cta-container {
                    align-self: flex-start;
                    padding: 20px;
                    background-color: #eee;
                    .cta-title {
                        text-align: center;
                        max-width: 22ch;
                        margin-inline: auto;
                    }
                    .cta-subtitle {
                        text-align: center;
                    }
                    form {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 1rem;
                        max-width: 375px;
                        margin-inline: auto;
                        input:not([type="submit"]) {
                            padding: 0.75rem 1rem;
                            border-color: #ccc;
                        }
                    }
                }
            }
        }
    }
    &-rcd_work {
        .page-header {
            text-align: center;
        }
        .filter-container {
            position: relative;
            width: max-content;
            max-width: 100%;
            margin-inline: auto;
            min-width: 175px;
            &:after {
                content: '\f107';
                font-family: $font-awesome-family;
                display: block;
                position: absolute;
                right: 0.75em;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                pointer-events: none;
                color: #333;
            }
            select {
                font-size: 1em;
                padding: 0.5em 0.75em;
                -webkit-appearance: none;
                border: 1px solid #333;
                border-radius: 4px;
                color: #333;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                width: 100%;
            }
        }
        .work-container {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(4, minmax(0,1fr));
            @media (max-width:1600px) {
                grid-template-columns: repeat(3, minmax(0,1fr));
            }
            @include breakpoint("md-down") {
                grid-template-columns: repeat(2, minmax(0,1fr));
            }
            @include breakpoint("sm-down") {
                grid-template-columns: minmax(0,1fr);
            }
            .single-work {
                width: 100%;
                opacity: 1;
                &.filtered-out{
                  
                }
                & > a {
                    width: 100%;
                    display: block;
                    position: relative;
                    text-decoration: none;
                }
                img {
                    aspect-ratio: 9/5;
                    width: 100%;
                    height:auto;
                    object-fit: cover;
                    display: block;
                }
                .text-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:rgba(0,0,0,0.8);
                    opacity: 0;
                    transition: opacity 0.33s ease-in-out;
                    padding: 18px;
                    @include breakpoint("md-down") {
                        position: relative;
                        aspect-ratio: 9/5;
                        opacity: 1;
                        background-color: #000;
                    }
                    p {
                        text-align: center;
                        color: #fff;
                        margin-bottom: 0;
                        font-weight: 400;
                        
                        &.work-tagline {
                            font-family: var(--rcd-font-h1-font-family);
                        }
                    }
                    .work-tags {
                        position: relative;
                        &:before {
                            content: '';
                            height: 2px;
                            width: 100px;
                            background-color:#fff;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        ul {
                            list-style: none;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 1.5ch;
                            padding-top: 1.5rem;
                            padding-left: 0;
                            margin-inline: auto;
                            li {
                                color: #fff;
                                font-family: var(--rcd-font-family-base);
                                font-weight: 400;
                                font-size: var(--rcd-font-size-lg);
                                letter-spacing:0.25px;
                                position: relative;
                                &:not(:last-child) {
                                    padding-right: 0.75ch;
                                    &:after {
                                        position: absolute;
                                        right: -0.75ch;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        content:'\e122';
                                        font-family: $font-awesome-family;
                                        font-weight: bold;
                                        display: block;
                                        font-size: var(--rcd-font-size-sm);
                                    }
                                }
                            }
                            
                        }
                    }
                }
                &:hover,
                &:focus-within {
                    .text-container {
                        opacity: 1;
                    }
                }
            }
            
        }
    }
} 