@use "1-config" as *;

body.wp-admin {
    &.block-editor-page {
        .edit-post-visual-editor {
            .editor-styles-wrapper {
                .edit-post-visual-editor__post-title-wrapper {
                    h1 {
                        @include h1;
                    }
                }
                .wp-block-post-content {
                    .block-editor-rich-text__editable {
                        position: relative;
                        &:is(h1, .h1) {
                            @include h1;
                        }
                        &:is(h2, .h2) {
                            @include h2;
                        }
                        &:is(h3, .h3) {
                            @include h3;
                        }
                        &:is(h4, .h4) {
                            @include h4;
                        }
                        &:is(h5, .h5) {
                            @include h5
                        }
                        &:is(h6, .h6) {
                            @include h6;
                        }
                        &:is(p) {
                            font-size: var(--rcd-font-size-base);
                            font-family: var(--rcd-font-family-base); 
                        }
                    }
                    h1, .h1 {
                        @include h1;
                    }
                    h2, .h2 {
                        @include h2;
                    }
                    h3, .h3 {
                        @include h3;
                    }
                    h4, .h4 {
                        @include h4;
                    }
                    h5, .h5 {
                        @include h5;
                    }
                    h6, .h6 {
                        @include h6;
                    }
                    h1:has(+ p, + ul, + ol, + blockquote),
                    h2:has(+ p, + ul, + ol, + blockquote),
                    h3:has(+ p, + ul, + ol, + blockquote),
                    h4:has(+ p, + ul, + ol, + blockquote),
                    h5:has(+ p, + ul, + ol, + blockquote),
                    h6:has(+ p, + ul, + ol, + blockquote) {
                        max-width: $max-content-width;
                        margin-inline: auto;
                    }
                    ul,ol {
                        &[aria-label="Block: List"] {
                            max-width: 875px;
                            margin-inline: auto;
                            li {
                                font-size: calc( var(--rcd-font-size-base) * 0.95);
                                font-family: var(--rcd-font-family-base);
                                margin-bottom: 0.5em;
                                line-height: var(--rcd-font-size-base-line-height);
                            }
                        }
                    }
                    p {
                        font-size: var(--rcd-font-size-base);
                        font-family: var(--rcd-font-family-base);
                        &[aria-label="Paragraph block"]{
                            max-width: 875px;
                            margin-inline: auto;
                        }
                    }
                    .xs-p {
                        font-size: var(--rcd-font-size-xs);
                    }
                    .sm-p {
                        font-size: var(--rcd-font-size-sm);
                    }
                    .lg-p{
                        font-size: var(--rcd-font-size-lg);
                    }
                    .xl-p{
                        font-size: var(--rcd-font-size-xl);
                    }
                    a.btn {
                        @include btn;
                    }
                    .wp-block-embed,
                    .wp-block-image {
                        max-width: $max-text-width;
                        margin-inline: auto;
                        &.aligncenter {
                            .components-resizable-box__container {
                                margin-inline: auto;
                            }
                        }
                        &.align-right {
                            .components-resizable-box__container {
                                margin-left: auto;
                            }
                        }
                        .components-resizable-box__container {
                            max-width: 100% !important;
                            img {
                                max-width: 100%;
                                width: 100%;
                                height: auto !important
                            }
                        }
                    }

                }
            }
            @import "./2-composition/index.scss";
        }
    }
    &.page-sidebar-template {
        .acf-field {
            &[data-name="block_padding"],
            &[data-name="block_title"],
            &[data-name="block_subtitle"],
            &[data-name="block_cta_link"],
            &[data-name="block_cta_cta_color"],
            &[data-name="block_cta_cta_type"] {
                 display: none;
            }
         }
    }
    .block-editor-block-icon {
        svg{
            &:not(.non-font-awesome) {
                path {
                    fill: #000 !important;
                }
            }
            path {
                &:not([style="fill:#FFFFFF"]),
                &:not([style="fill:#FFF"]),
                &:not([style="fill:#FFFFFF;"]) {
                    fill: #000 !important;
                }
            }
        }
    }
}