@use "./1-config/" as *;

body.blog {
    #site-content {
        .rcd-container {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 1.5rem;
            @include breakpoint("lg-down") {
                grid-template-columns: 1fr 1fr;
            }
            @include breakpoint("md-down") {
                grid-template-columns: 1fr;
            }
            .posts-container {
                padding-bottom: 1.5rem;
                a.load-more {
                    margin-inline: auto;
                    display: block;
                    i {
                        display: none;
                        font-size: 1.125em;
                        margin-left: 0.25em;
                    }
                    &.loading {
                        i {
                            display: block;
                        }
                    }
                }
                .single-post {
                    border: 1px solid #ccc;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    margin-bottom: 1.5rem;
                    transition: 0.25s linear box-shadow, 0.25s linear transform;
                    &:hover,
                    &:focus-within {
                        transform: scale(1.005);
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    }
                    & > a {
                        text-decoration: none;
                        font-weight: initial;
                    }
                    .content-container {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 1rem;
                        .image-container {
                            width: 100%;
                            position: relative;
                            background-color: var(--rcd-color-off-white-1);
                            img {
                                display: block;
                                width: 100%;
                                height: auto;
                                aspect-ratio: 16/6;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                        .text-container {
                            padding-inline: 18px;
                            padding-bottom: 18px;
                            p {
                                text-decoration: none;
                                &.post-title {
                                    margin-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
            .cta-container {
                align-self: flex-start;
                padding: 20px;
                background-color: #eee;
                .cta-title {
                    text-align: center;
                    max-width: 22ch;
                    margin-inline: auto;
                }
                .cta-subtitle {
                    text-align: center;
                }
                form {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 1rem;
                    max-width: 375px;
                    margin-inline: auto;
                    input:not([type="submit"]) {
                        padding: 0.75rem 1rem;
                        border-color: #ccc;
                    }
                }
            }
        }
    }
}