@use "./1-config/" as *;

body.single {
    &.single-rcd_team_members {
        article.container {
            display: grid;
            grid-template-columns:1fr;
            padding-top: 0 !important;
            @include breakpoint("sm-up") {
                max-width: 100%;
                padding-right: 0 !important;
                grid-template-columns: 1fr 1fr;
            }
            @include breakpoint("md-up") {
                grid-template-columns: 6fr 4fr;
                padding-left: calc((100vw - var(--max-width) ) / 2);
            }
            .text-container {
                padding-top: linear-clamp(18px, 32px, 767px, 1200px);
                @include breakpoint("sm-up") {
                    padding-right: linear-clamp(24px, 60px, 767px, 1400px);
                }

                p.position {
                    font-size: var(--rcd-font-size-lg);
                    color: var(--rcd-brand-color-1);
                    margin-bottom: 1.5rem;
                }
                .single-question {
                    margin-bottom: 1.5rem;
                    p {
                        &.question {
                            font-weight: bold;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .image-container {
                @include breakpoint("sm-down") {
                    order: -1;
                }
                img {
                    aspect-ratio: 3/4;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    position: sticky;
                    top: 0;
                    @include breakpoint("sm-down") {
                        width: 100%;
                        aspect-ratio: 16/9;
                        object-position: top;
                    }
                }
            }
            .image-gallery-container {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 3px;
                @include breakpoint("xs-down") {
                    justify-content: center;
                }
                a {
                    display: block;
                    flex: 0 0 calc(33.333% - 3px);
                    max-width: calc(33.333% - 3px);
                    @include breakpoint("xs-down") {
                        flex: 0 0 calc(50% - 3px);
                        max-width: calc(50% - 3px);
                    }
                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    &.single-post,
    &.single-rcd_news {
        #site-content {
            .rcd-container {
                display: grid;
                grid-template-columns: 3fr 2fr;
                gap: 1.5rem;
                @include breakpoint("md-down") {
                    grid-template-columns: 1fr 1fr;
                }
                .posts-container {
                    padding-bottom: 1.5rem;
                    .single-post {
                        .content-container {
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 1rem;
                            .image-container {
                                width: 100%;
                                position: relative;
                                background-color: var(--rcd-color-off-white-1);
                                img {
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    aspect-ratio: 16/6;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .text-container {
                                padding-bottom: 18px;
                                .share-container {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    gap: 1ch;
                                    margin-bottom: 1rem;
                                    p {
                                        margin-bottom: 0;
                                        text-transform: uppercase;
                                        font-size: var(--rcd-font-size-sm);
                                        font-weight: bold;
                                        letter-spacing: 0.5px;
                                    }
                                    i {
                                        font-size: var(--rcd-font-h6-size);
                                    }
                                    a {
                                        --hover-color: #000;
                                        &:hover,
                                        &:focus {
                                            color: var(--hover-color);
                                        }
                                        &.facebook {
                                           --hover-color: #4267B2;
                                        }
                                        &.linkedin {
                                            --hover-color: #0077b5;
                                        }
                                        &.twitter{
                                            --hover-color: #1DA1F2;
                                        }
                                    }
                                }
                                p {
                                    text-decoration: none;
                                    &.post-title {
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .cta-container {
                    align-self: flex-start;
                    & > div {
                        padding: 20px;
                        background-color: #eee;
                        &.single-post-cta {
                            margin-top: 1.5rem;
                        }
                    }
                    .cta-title {
                        text-align: center;
                        max-width: 22ch;
                        margin-inline: auto;
                    }
                    .cta-subtitle {
                        text-align: center;
                    }
                    form {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 1rem;
                        max-width: 375px;
                        margin-inline: auto;
                        input:not([type="submit"]) {
                            padding: 0.75rem 1rem;
                            border-color: #ccc;
                        }
                    }
                }
            }
        }
    }
}