@use "../1-config/" as *;

.accordion {
    max-width: $max-content-width;
    margin-inline: auto;
    width: 100%;
    .accordion-title {
        width: 100%;
        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 1.5rem 1.75rem;
            border: 2px solid #f4f4f4;
            background-color: background-color 0.33s linear;
            -webkit-appearance: none;
            .accordion-title__heading{
                max-width: calc(100% - 36px);
                text-align: left;
                margin: 0;
            }
            i {
                font-size: linear-clamp( 24px, 32px, 767px, 1200px );
                transition: 0.33s linear transform;
            }
        }
    }
    .accordion-content {
        display: none;
        padding: 1rem 1.75rem;
        background-color: var(--rcd-color-off-white-2);
        & > * {
            max-width: $max-text-width;
            margin-inline: auto;
        }
    }
    &.opened {
        .accordion-title {
            button {
                background-color: var(--rcd-brand-color-1);
                i {
                    transform: rotate(45deg);
                }
            }
        }
    }
}