@use '../1-config/' as *;

.rcd-acf-block {
    .rcd-acf-block-title-container {
        display: grid;
        gap: 0.5rem;
        width: 100%;
        padding-bottom: 2.5rem;
        max-width: $max-content-width;
        &.alignment-left {
            * {
                text-align: left;
            }
        }
        &.alignment-center {
            text-align: center;
            margin-inline: auto;
        }
        &.alignment-right {
            text-align: right;
            margin-left: auto;
        }
        &.anchor-line {
            position: relative;
            &:before {
                content: '';
                background-color: var(--rcd-brand-color-2);
                width: 100vw;
                position: absolute;
                height: 2px;
                left: 0;
                top: 0;
                display: block;
                top: 1.5ch;
                width: 100vw;
                left: calc(-100vw - 1ch);
            }
        }
    }
    .rcd-acf-block-pre-title {
        display: block;
        font-size: var(--rcd-font-size-xl);
        margin-bottom: 0.5ch;
    }
    .rcd-acf-block-title {
        display: block;
        text-align: center;
        line-height: 1.35;
        font-size: var(--rcd-font-h1-size);
        margin-bottom: 0;
    }
    .rcd-acf-block-subtitle {
        display: block;
        text-align: center;
        line-height: 1.25;
        font-size: var(--rcd-font-h6-size);
        font-family: var(--rcd-font-family-base);
        line-height: 1.5;
    }
    .rcd-acf-block-cta {
        display: block;
        text-align: center;
        margin-inline: auto;
    } 
    &.has-bg-color {
        background-color: var(--block-background-color);
        &:not(.off-white-1):not(.off-white-2):not(.brand-color-1):not(.brand-color-3):not(.brand-color-4) {
            .rcd-acf-block-title-container {
                &:before {
                    background-color: #fff;
                } 
            }
            .rcd-acf-block-pre-title,
            .rcd-acf-block-title,
            .rcd-acf-block-subtitle {
                color: #fff;
            }
        }
        &.brand-color-1 {
            .rcd-acf-block-pre-title,
            .rcd-acf-block-title,
            .rcd-acf-block-subtitle {
                color: #fff;
            }
        }
        &.brand-color-4 {
            .rcd-acf-block-pre-title,
            .rcd-acf-block-title,
            .rcd-acf-block-subtitle {
                color: var(--rcd-text-color-body);
            }
        }
    }
    &.has-white-text {
        .rcd-acf-block-pre-title,
        .rcd-acf-block-title,
        .rcd-acf-block-subtitle {
            color: #fff;
        }
    }
    &.has-bg-image {
        background-image: var(--block-background-image);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.has-bg-image,
    &.has-bg-color {
        &.parallax-bg{
            background-position: fixed;
        }
    }
    &.offset-background {
        background-size: 100% 80%;
        background-position: top;
        &.has-bg-color {
            background: linear-gradient(180deg, var(--block-background-color) 0%, var(--block-background-color) 80%, transparent 80%);
        }
    }
}