@use "../1-config/" as *;

.cards-container {
    --gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--gap);
    --card-width: calc( 33% - var(--gap) );
}
.card {
    flex: 1 1 var(--card-width);
    max-width: var(--card-width);
}