@use "1-config" as *;

section.pre-footer {
    .rcd-acf-block-title-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, auto);
        padding-bottom: 0;
        max-width: 100%;
        @include breakpoint("xs-down") {
            grid-template-columns: 1fr;
        }
        a.btn {
            grid-row: 1/3;
            grid-column: 2;
            align-self: center;
            justify-self: flex-end;
            --button-color: #fff;
            @include breakpoint("xs-down") {
                grid-column: 1/-1;
                grid-row: auto;
                justify-self: flex-start;
                margin-top: 0.5rem;
            }
        }
    }
}


footer.site-footer {
    background-color: #000;
    padding-top: linear-clamp(24px, 32px, 767px, 1200px);
    box-shadow: 0 -3px 5px rgba(0,0,0,.04);
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        @include breakpoint("sm-down") {
            justify-content: center;
        }
        .locations-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-self: flex-start;
            gap: 1.25rem;
            flex: 0 0 100%;
            max-width: 100%;
            @include breakpoint("md-up") {
                flex: 0 0 50%;
                max-width: 50%;
            }
            label {
                display: block;
                width: 100%;
                color: #fff;
                text-transform: uppercase;
                font-size: var(--rcd-font-size-xl);
                font-family: var(--rcd-font-h1-font-family);
                font-weight: bold;
                position: relative;
                &:after {
                    content: '';
                    height: 2.5px;
                    width: 9ch;
                    background-color: var(--rcd-brand-color-2);
                    position: absolute;
                    bottom: -.25rem;
                    left: 0;
                }
            }
            .single-location {
                flex: 0 0 100%;
                max-width: 100%;
                @include breakpoint("md-up") {
                    width: 100%;
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                @include breakpoint("xs-up") {
                    flex: 0 0 calc(50% - 1.25rem);
                    max-width: calc(50% - 1.25rem);
                }
                strong {
                    font-size: var(--rcd-font-size-base);
                    line-height: 1.5;
                    color: #fff;
                }
                address {
                    font-size: var(--rcd-font-size-base);
                    line-height: 1.5;
                    span {
                        display: block;
                        width: 100%;
                        font-style: normal;
                        color: #fff;
                    }
                }
                a {
                    display: block;
                    line-height: 1.5;
                    color: #fff;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                        color: var(--rcd-brand-color-2);
                    }
                    i {
                        margin-right:0.5ch;
                    }
                }
            }
        }//locations-container
        .footer-business-logos-container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
            row-gap:1.5rem;
            flex: 1 1 calc(50% - 1.5rem);
            .single-logo {
                flex: 0 1 calc(33.3333% - 1rem);
                max-width: 50%;
                width:100%;
                @include breakpoint("xs-down") {
                    flex: 0 1 calc(50% - 1rem);
                    max-width: 100%;
                }
                @include breakpoint("mini-down") {
                    flex: 0 0 100%;
                }
                img {  
                    display: block;
                    max-width:100%;
                    width: auto;
                    height: auto;
                    margin-inline: auto;
                }
                span {
                    color: #fff;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    padding-bottom: 0.5ch;
                }
            }
        }
        .footer-navigation-container {
            background-color: #222;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            position: relative;
            z-index: 1;
            &:before {
                content: '';
                position: absolute;
                width: 100vw;
                left: calc(( 100vw - var(--max-width) ) / -2 );
                height: 100%;
                top:0;
                bottom: 0;
                background-color: #222;
                z-index: -1;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 2ch;
                list-style: none;
                padding-left: 0;
                margin: 0;
                width: 100%;
                li {
                    margin: 0;
                    a {
                        display: block;
                        color: #fff;
                        font-weight: bold;
                        padding: 0.5em 0.75em;
                        font-size: 15px;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover,
                        &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .social-footer-nav-container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            justify-content: center;
            margin-top: -1.5rem;
            background-color: #222;
            width: 100%;
            position: relative;
            z-index: 1;
            &:before {
                content: '';
                position: absolute;
                width: 100vw;
                left: calc(( 100vw - var(--max-width) ) / -2 );
                height: 100%;
                top:0;
                bottom: 0;
                background-color: #222;
                z-index: -1;
            }
            @include breakpoint("md-down") {
                margin-inline: auto;
            }
            @include breakpoint("sm-down") {
                width: 100%;
            }
            nav {
                ul {
                    padding-left: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    margin-top: 0;
                    justify-content: center;
                }
            }
            .social-media-nav {
                ul {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2ch;
                    @include breakpoint("md-down") {
                        justify-content: center;
                    }
                    li {
                        margin-bottom: 0;
                        a {
                            color: #fff;
                            font-size: var(--rcd-font-size-xl);
                            &:hover,
                            &:focus {
                                color: var(--rcd-brand-color-1);
                            }
                            i {
                                font-size: var(--rcd-font-size-xl);
                            }
                        }
                    }
                }
            }
            .legal-nav {
                ul {
                    justify-content: flex-end;
                    margin-bottom: 0.5ch;
                    @include breakpoint("sm-down") {
                        justify-content: center;
                    }
                    li {
                        &:first-child {
                            padding-right: 1ch;
                            margin-right: 1ch;
                            border-right: 1px solid var(--rcd-text-color-body);
                        }
                        a {
                            font-weight: 500;
                            text-decoration: none;
                            line-height: 1.5;
                            color: #fff;
                            &:hover,
                            &:focus {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .copyright {
                font-size: var(--rcd-font-size-sm);
                color: #fff;
                text-align: center;
                @include breakpoint("sm-down") {
                    text-align: center;
                }
            }
        }//social-footer-nav-container
    }
}
.fancybox-pop-up {
    &:has(iframe,video,.wp-video) {
        padding: 0;
    }
    iframe,
    video,
    .wp-video {
        max-width:875px;
        height: auto;
        aspect-ratio: 16/9;
        .wp-video-shortcode {
            width: 100% !important;
            height: 100% !important;
            &.no-controls {
                .mejs-controls {
                    display: none;
                }
            }
        }
    }
}