@use "../1-config/" as *;

form {
    &.wpcf7-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        .form-group {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5ch;
            &.name,
            &.city-state,
            &.zip-country,
            &.email-phone,
            &.two-col {
                grid-column: 1/-1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem 1.25rem;
                @include breakpoint("sm-down") {
                    grid-template-columns: 1fr;
                    label{
                        &:first-of-type {
                            order: -1;
                        }
                        &:last-of-type {
                            order: 1;
                        }
                    }
                    input {
                        &:first-of-type {
                            order: 0;
                        }
                        &:last-of-type {
                            order: 2;
                        }
                    }
                }
            }
            &:has(input[type="submit"]) {
                grid-column: 1/-1;
                input {
                    margin-inline: auto;
                }
            }
            input:not([type="submit"]),
            select, 
            textarea {
                width: 100%;
                font-size: 16px;
                padding: 0.5em 0.75em;
                color: var(--rcd-text-color-body);
                border: 1px solid #333;
                border-radius: 4px;
                align-self: flex-start;
            }
            textarea {
                max-height: 7.5ch;
            }
        }
        span {
            &.wpcf7-list-item-label,
            &.wpcf7-list-item {
                color: var(--rcd-text-color-body) !important;
            }
            &.wpcf7-checkbox,
            &.wpcf7-radio {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1ch;

                & > span {
                    display: grid;
                    gap: 1ch;
                    grid-template-columns: 60px 1fr;
                    align-items: center;
                    margin-left: 0;
                }
            }
        }
        label {
            font-weight: 500;
        }
        /* Contact Form 7 Specific coding. */
        .wpcf7-response-output {
            grid-column: 1/-1;
            width: 100%;
            margin: 0 !important;
            padding: 0.75em 1.25em;
            font-size: var(--rcd-font-size-lg);
            font-weight: bold;
            text-align: center;
            color: #fff;
            border-radius: 4px;
        }
        &.invalid {
            .wpcf7-response-output {
                background-color: #ff4f4f;
                border-color: #ff4f4f;
            }
        }
        &.sent {
            .wpcf7-response-output {
                background-color: #4a934a;
                border-color: #4a934a;
            }
        }
    }
}