@use "1-config" as *;
*{
    box-sizing: border-box;
}
body {
    display: block;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    font-size: var(--rcd-font-size-base);
    font-family: var(--rcd-font-family-base);
    scroll-behavior: smooth;
}
.bypass-block {
    position:absolute;
    z-index:99999;
    top:0;
    right:100%;
    background:#fff;
    border:2px solid #222;
    color:#222;
    text-decoration:none;
    padding:20px 40px;
    font-size:1em;
    font-weight:700;
    &:focus {
        right: 0;
    }
}
h1, .h1 {
    @include h1;
}
h2, .h2 {
    @include h2;
}
h3, .h3 {
    @include h3;
}
h4, .h4 {
    @include h4;
}
h5, .h5 {
    @include h5;
}
h6, .h6 {
    @include h6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
p {
    color: var(--rcd-text-color-body);
    font-size: var(--rcd-font-size-base);
    font-family: var(--rcd-font-family-base);
    line-height: var(--rcd-font-size-base-line-height);
    letter-spacing: var(--rcd-font-size-base-letter-spacing);
    margin-top: 0;
    &:last-of-type {
        margin-bottom: 1.5rem;
    }
}
ol, ul {
    li {
        color: var(--rcd-text-color-body);
    }
}
.xs-p {
    font-size: var(--rcd-font-size-xs);
    line-height: var(--rcd-font-size-xs-line-height);
    letter-spacing: var(--rcd-font-size-xs-letter-spacing);
}
.sm-p {
    font-size: var(--rcd-font-size-sm);
    line-height: var(--rcd-font-size-sm-line-height);
    letter-spacing: var(--rcd-font-size-sm-letter-spacing);
}
.lg-p{
    font-size: var(--rcd-font-size-lg);
    line-height: var(--rcd-font-size-lg-line-height);
    letter-spacing: var(--rcd-font-size-lg-letter-spacing);
}
.xl-p{
    font-size: var(--rcd-font-size-xl);
    line-height: var(--rcd-font-size-xl-line-height);
    letter-spacing: var(--rcd-font-size-xl-letter-spacing);
}
a {
    &:not(.btn) {
        color: var(--rcd-text-color-heading);
        font-weight: bold;
        &:hover,
        &:focus {
            color: var(--rcd-text-color-body);
        }
    }
    &:hover,
    &:focus {
        cursor: pointer;
    }
}
sub {
    font-size: 0.55em;
    bottom: -0.5em;
    position: relative;
}
sup {
    font-size: 0.55em;
    top: -0.5em;
    position: relative;
}
#site-content {
    --max-width: 100%;
    width: 100vw;
    background-color: #fff;
    @include breakpoint("xs-up") {
        --max-width:540px;
    }

    @include breakpoint("sm-up") {
       --max-width:720px
    }

    @include breakpoint("md-up") {
        --max-width:960px;
    }

    @include breakpoint("lg-up") {
        --max-width:1140px
    }

    @include breakpoint("xl-up") {
        --max-width:1140px
    }

    @include breakpoint("2xl-up") {
        --max-width:1392px
    }
    & > * {
        margin-top: 0;
    }
    & > *:first-child:not(section, .rcd-acf-block, header.page-header),
    & > h1.sr-only + *:not(section, .rcd-acf-block, header.page-header) {
        @extend .xs-padding-top;
    }

    & > h1:has(+ p, + ul, + ol, + blockquote),
    & > h2:has(+ p, + ul, + ol, + blockquote),
    & > h3:has(+ p, + ul, + ol, + blockquote),
    & > h4:has(+ p, + ul, + ol, + blockquote),
    & > h5:has(+ p, + ul, + ol, + blockquote),
    & > h6:has(+ p, + ul, + ol, + blockquote) {
        max-width: $max-content-width;
        margin-inline: auto;
    }
    & > p {
        padding-inline: linear-clamp( 24px, 36px, 575px, 992px ) !important;
        &:not(.has-background) {
            max-width: $max-content-width;
            margin-inline: auto !important;
        }
    }
    & > ul,
    & > ol {
        max-width: 875px;
        margin-inline: auto;
        li {
            color: var(--rcd-text-color-body);
            font-size: calc( var(--rcd-font-size-base) * 0.95);
            font-family: var(--rcd-font-family-base);
            margin-bottom: 0.5em;
            line-height: var(--rcd-font-size-base-line-height);
        }
    }
}
ul, ol {
    li {
        margin-bottom: 0.5em;
    }
}

.rcd-container,
.container {
    --max-width: 100%;
    width: 100%;
    max-width: var(--max-width);
    position: relative;
    padding-inline: 20px;
    margin: 0 auto;

    @include breakpoint("xs-up") {
        --max-width:540px;
        padding-inline: 36px;
    }

    @include breakpoint("sm-up") {
       --max-width:720px
    }

    @include breakpoint("md-up") {
        --max-width:960px;
        padding-inline: 0;
    }

    @include breakpoint("lg-up") {
        --max-width:1140px
    }

    @include breakpoint("xl-up") {
        --max-width:1140px
    }

    @include breakpoint("2xl-up") {
        --max-width:1392px
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}

.entry-content {
    max-width: 875px;
    margin-inline: auto;
    display: block;
    h1, h2, h3, h4, h5, h6, p:last-of-type {
        margin-bottom: 1.5rem !important;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0 !important;
    }
    ul, ol {
        li {
            margin-bottom: 0.5em;
            line-height: 1.45;
        }
    }
}

.full-padding {
    &-top {
        padding-top: linear-clamp( 32px, 72px, 767px, 992px );
    }
    &-bottom {
        padding-bottom: linear-clamp( 32px, 72px, 767px, 992px );
    }
}

.small-padding {
    &-top {
        padding-top: linear-clamp( 24px, 56px, 767px, 992px );
    }
    &-bottom {
        padding-bottom: linear-clamp( 24px, 56px, 767px, 992px );
    }
}

.xs-padding {
    &-top {
        padding-top: linear-clamp( 18px, 32px, 767px, 992px );
    }
    &-bottom {
        padding-bottom: linear-clamp( 18px, 32px, 767px, 992px );
    }
}

.none-padding {
    &-top {
        padding-top: 0;
    }
    &-bottom {
        padding-bottom: 0;
    }
}

.desktop-only {
    @include breakpoint("md-down") {
        display: none;
    }
}
.mobile-only {
    @include breakpoint("md-up") {
        display: none;
    }
}

.btn,
.button {
    @include btn;
}

.has-bg-color{
    &.client-brand-color {
        --block-background-color: var(--rcd-client-brand-color);
    }
    &.off-white-1 {
        --block-background-color: var(--rcd-color-off-white-1);
    }
    &.off-white-2 {
        --block-background-color: var(--rcd-color-off-white-2);
    }
    &.off-black-1 {
        --block-background-color: var(--rcd-color-off-black-1);
    }
    &.off-black-2 {
        --block-background-color: var(--rcd-color-off-black-2);
    }
    &.off-black-3 {
        --block-background-color: var(--rcd-color-off-black-3);
    }
}
.wp-block-heading {
    padding-inline: linear-clamp( 24px, 36px, 575px, 992px ) !important;
    &:not(.has-background) {
        max-width: $max-container-width;
        margin-inline: auto !important;
        padding-inline: 0 !important;
    }
    &.has-background {
        //margin-inline: calc( ( ( ( 100% - min($max-container-width, 100%) ) / 2) ) - var(--padding-gutter) ) !important;
    }
}
.wp-block-buttons {
    @extend .rcd-container;
}
.wp-block-button {
    @include wp-block-btn;
}
.wp-block-image {
    display: flex;
    width: 100%;
    align-items: flex-start;
    max-width: var(--max-width);
    margin-inline: auto;
    &:last-of-type {
        margin-bottom: 1.5rem;
    }
    &:has(.alignright) {
        justify-content: flex-end;
    }
    &:has(.aligncenter) {
        justify-content: center;
    }
}

.wp-block-embed {
    max-width: 875px;
    margin-inline: auto;
    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}