@use "1-config" as *;

header.site-header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    margin-inline: auto;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    @include breakpoint("md-down") {
        //background-color: var(--rcd-brand-color-2);
        padding-bottom: 14px;
    }
    &:not(.transparent) {
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }
    .container {
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include breakpoint("md-up") {
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
        .site-logo {
            display: flex;
            max-width: linear-clamp( 200px, 250px, 575px, 1600px );
            img, svg {
                width: 100%;
                height: auto;
                max-height: 75px;
                object-fit: contain;
                display: block;
                @include breakpoint("lg-down") {
                    max-width: 175px;
                }
                @include breakpoint("md-down") {
                    max-height: 65px;
                }
            }
            & + div {
                display: flex;
                gap: 1rem;
                align-items: center;
                flex: 1 0 50%;
            }
        }
        .main-menu-navigation-container {
            transition: 0.33s linear right;
            background-color: #000 !important;
            @include breakpoint("md-up") {
                width: 100%;
                position: relative;

            }
            nav.main-menu-navigation {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &.main-menu {
                        display: block;
                        @include breakpoint("md-up"){
                            display: flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            width: max-content;
                            justify-content: center;
                            margin-inline: auto;
                            gap: linear-clamp(10px, 18px, 992px, 1500px);;
                        
                        }
                        & > li {
                             & > a {
                                color: #fff;
                            }
                            li a {
                                color: var(--rcd-font-color-heading);
                            }
                        }
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            column-gap: 1rem;
                            padding: 0.75rem 0.5rem;
                            margin-bottom: 0;
                            position: relative;
                            flex-grow: 1;
                            a {
                                text-transform: uppercase;
                                font-size: 16px;
                                font-weight: bold;
                            }
                            .sub-menu-container {
                                position: absolute;
                                display: none;
                                max-width: 300px;
                                width: max-content;
                                top: 100%;
                                left: 0;
                            }
                            &.menu-item-has-children {
                                &:hover//,
                                //&:focus,
                                //&:focus-within 
                                {
                                    & > .sub-menu-container {
                                        display: block;
                                        .sub-menu-container {
                                            left: 100%;
                                            top: 0%;
                                        }
                                    }
                                }
                            }
                            &:not(.menu-item-has-children) {
                                & > a {
                                    display: flex;
                                    width: 100%;
                                    justify-content: flex-start;
                                    &:has(i) {
                                        align-items: center;
                                        gap: 0.75ch;
                                    }
                                }
                            }
                            span.dropdown-arrow {
                                width: 1rem;
                                height: 1rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #fff;
                                i {
                                    font-size: 20px;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: end;
                                    justify-content: center;
                                    color: #fff;
                                }
    
                            }
                        }
                    }
                    li {
                        a {
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            color: var(--rcd-brand-color-2);
                            transition: 0.25s linear color;
                            font-size: linear-clamp( 15px, 18px, 475px, 767px);
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        button.navbar-toggler {
            display: none;
            font-size: 30px;
            -webkit-appearance: none;
            border: none;
            background: transparent;
            transition: transform 0.25s linear;
            @include breakpoint("md-down") {
                display: block;
                color: var(--rcd-brand-color-2);
            }
            &.opened{
                transform: rotate(90deg);
            }
        }
        &.two-column {
            .main-menu-navigation-container {
                background-color: var(--rcd-brand-color-1);
                transition: 0.33s linear right;
                @include breakpoint("md-up") {
                    width: 100%;
                    position: relative;

                }
            }
        }
        &.two-column-inline-nav {
            & > div > div {
                display: flex;
                align-items: center;
                gap: 1ch;
            }
        }
    }
    .cta-buttons {
        a {
            display: inline-flex !important;
            align-items: center;
            justify-content: center;
            gap: 1ch;
            font-size: 16px;
            padding: 0.5em 0.85em;
            &.icon-first {
                i {
                    order:-1;
                }
            }
        }
    }
    &.transparent {
        position: fixed;
        transition: background-color 0.25s linear;
        background-color: var(--rcd-brand-color-2) !important;
        @include breakpoint("md-up") {
            background-color: transparent !important;
            nav.main-menu-navigation ul.main-menu > li > a  {
                color: #fff !important;
                & + span i {
                    color: #fff !important;
                }
            }
            .cta-buttons {
                a.btn {
                    --button-color: #fff;
                    &:hover,
                    &:focus {
                        --button-color: var(--rcd-brand-color-2);
                    }
                }
            }
        }
        &.dark-bg {
            background-color: var(--rcd-brand-color-2) !important;
        }
        .site-logo {
            filter: invert(1);
        }
        button.navbar-toggler {
            color: #fff;
        }
        & + #site-content > *:first-child:not(section, .rcd-acf-block),
        & + #site-content > h1.sr-only + *:not(section, .rcd-acf-block) {
            padding-top:0 !important;
        }
    }
}
@include breakpoint("md-down") {
    body.opened {
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100vw;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
        }
        .container {
            .main-menu-navigation-container {
                right: 0 !important;
                width: 30vw;
                padding-bottom: 97px; //Height of navigation + top padding
                height: 100vh;
                overflow: hidden scroll;
                @include breakpoint("sm-down") {
                    width: 50vw;
                }
                @include breakpoint("xs-down") {
                    width: 100vw;
                }
                li {
                    padding-inline: 0.5em;
                }
                
            }
            button.navbar-toggler {
                color: var(--rcd-brand-color-1);
                transform: rotate(90deg);
            }
        }
    }
    header.site-header {
        position: sticky;
        top: 0;
        .container {
            .main-menu-navigation-container {
                position: fixed;
                right: -100%;
                top: 0;
                background-color: #fff;
                nav.main-menu-navigation {
                    padding-top: 74px;
                    ul.main-menu {
                        li {
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            gap: 0;
                            border-radius: 0 !important;
                            padding-inline: 0;
                            a {
                                padding: 0.25rem linear-clamp(18px, 24px, 545px, 767px);
                                font-size: 18px;
                            }
                            .dropdown-arrow {
                                justify-content: center;
                                width: 1rem;
                            }
                            .sub-menu-container {
                                display: none;
                                position: relative;
                                height: 0;
                                transition: 0.33s height linear;
                                max-width: 100% !important;
                                overflow: hidden;
                                width: 100%;
                                left: 0 !important;
                                background-color: #222;
                                li {
                                    a {
                                        color: #fff;
                                        font-size:0.9em;
                                    }
                                }
                            }
                            &.opened {
                                &  > .sub-menu-container {
                                    display: block;
                                    margin-top: 0.5rem;
                                    position: relative !important;
                                    height: auto !important;
                                    & > ul li.current-menu-item {
                                        background-color: var(--rcd-brand-color-3) !important;
                                        
                                    }
                                    
                                }
                            }
                            
                        }
                        & > li {
                            & > .sub-menu-container {
                               
                                & > ul > li a {
                                    font-size: 0.95em;
                                    text-transform: normal;
                                }
                            }
                        }
                    } 
                }
                .mobile-only {
                    display: grid;
                    margin-top: 0.5rem;
                    gap: linear-clamp(18px, 24px, 545px, 767px);
                    justify-content: center;
                    padding-inline: linear-clamp(18px, 24px, 545px, 767px);
                    nav.social-media-nav {
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 1ch 0.333ch;
                            list-style: none;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                            li {
                                a {
                                    i {
                                        color: #fff;
                                        font-size: var(--rcd-font-h6-size);
                                    }
                                }
                            }
                        }
                    }
                }
                & + .cta-buttons {
                    display: none !important;
                }
            }
            
        }
    }
}
@include breakpoint("md-up") {
    header.site-header{
        .main-menu-navigation-container {
            transition: top 0.25s linear;
            /*&.fixed-nav {
                position: fixed;
                top: 0;
                max-width: var(--max-width);
            }*/
            nav {
                ul.main-menu {
                    position: relative;
                    li {
                        transition: 0.25s linear background-color;
                        .sub-menu-container {
                            background-color: #fff;
                            position: absolute;
                            display: none;
                            top: 100%;
                            left: 0;
                        }
                        &:hover,
                        &:focus,
                        &:focus-within,
                        &.opened {
                            background-color: var(--rcd-brand-color-1);
                            & > a,
                            & > .dropdown-arrow > i {
                                color: #fff !important;
                            }
                            & > .sub-menu-container {
                                display: block !important;
                                background-color: #fff;
                                width: 100%;
                                height: auto;
                            }
                        }
                        .sub-menu-container {
                            li {
                                width: 100%;
                            }
                        }
                        &.menu-item-has-children {
                            flex-wrap: wrap;
                            & > .sub-menu-container {
                                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                                display: none;
                                height: auto;
                                .sub-menu-container {
                                  
                                    left: 100% !important;
                                    top:0 !important;
                                    width: 100%;
                                    li {
                                        
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

header.page-header {
    position: relative;
    &:not(:has(+ .back-to)) {
        //border-bottom: 10px solid var(--rcd-brand-color-1);
    }
    &.no-bg-image.no-page-title {
        padding: 0 !important;
        margin: 0 !important;
        height: 0;
        min-height: 0;
        overflow: hidden;
    }
    &.bg-image {
        background-image: var(--background-image);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.show-page-title {
            h1,p {
                text-align: center;
                color: #fff;
                font-family: var(--rcd-font-h1-font-family);
            }
            p {
                font-size: var(--rcd-font-h1-size);
                margin-bottom: 0;
            }
            &:not(.no-overlay) {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.65);
                }
            }
        }
        &.no-page-title {
            min-height: 300px;
        }
    }
    &.no-bg-image.show-page-title {
        background-color: var(--rcd-brand-color-2);
        h1,p {
            text-align: center;
            color: #fff;
            font-family: var(--rcd-font-h1-font-family);
        }
        p {
            font-size: var(--rcd-font-h1-size);
            margin-bottom: 0;
        }
    }
    & + .back-to {
        background-color: var(--rcd-brand-color-1);
        a {
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 0.333rem 0;
        }
    }
}