/* Theme Defaults */
/* Project Specific Colors */
/* Theme Default Colors */
/* Responsive Breakpoints */
/* Spacing Values */
/* Width Values */
* {
  transition: 0.25s all ease-in-out;
}

html {
  font-size: 18px;
  width: 100vw;
}

body {
  display: block;
  background-color: #fff;
  font-size: 18px;
  position: relative;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

section {
  display: block;
  position: relative;
}

h1 {
  display: block;
  width: 100%;
  font-size: 64px;
}

h2 {
  display: block;
  width: 100%;
  font-size: 48px;
}

h3 {
  display: block;
  width: 100%;
  font-size: 36px;
}

h4 {
  display: block;
  width: 100%;
  font-size: 32px;
}

h5 {
  display: block;
  width: 100%;
  font-size: 28px;
}

h6 {
  display: block;
  width: 100%;
  font-size: 26px;
}

p {
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #212121;
}

#site-content {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 1;
}

.btn {
  width: max-content;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
  border-radius: 20px;
  transition: border-color background-color color 0.25s linear;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.iframe-container,
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe, .iframe-container video, .iframe-container embed,
.video-container iframe,
.video-container video,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.container {
  box-sizing: border-box;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 100vw;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1320px;
  }
}

.entry-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 875px;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

header {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.31), 0 1px 0 0 rgba(0, 0, 0, 0.11), 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.31), 0 1px 0 0 rgba(0, 0, 0, 0.11), 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
header nav {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  /* Simple navigation with collapsing menu on small screen sizes */
}
header nav ul {
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 0 !important;
}
header nav li.menu-item {
  position: relative;
}
header nav li.menu-item > a {
  display: block;
  width: 100%;
  padding: 1rem 1.25rem;
  position: relative;
  color: #000;
  text-decoration: none;
}
header nav a.site-logo {
  display: inline-block;
  padding: 0 1.5rem 0 0;
  margin: 0;
  width: auto;
}
header nav a.site-logo img {
  display: block;
  width: auto;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
}
header nav #simple-navigation li.menu-item-has-children > a + .sub-menu-container {
  position: absolute;
  top: 100%;
  display: none;
}
header nav #simple-navigation li.menu-item-has-children > a .sub-menu-container:hover + .sub-menu-container, header nav #simple-navigation li.menu-item-has-children > a:hover + .sub-menu-container {
  display: block;
}

.module {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.hero {
  height: 70vh;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hero .container {
  position: relative;
  z-index: 10;
}
.hero .container:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: -1;
}
.hero img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
.hero h1 {
  text-align: center;
  color: #fff;
}
.hero .content-container {
  color: #fff;
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
.hero .content-container p {
  color: #fff;
}

.fw-hero-image {
  height: 70vh;
  padding: 0;
}
.fw-hero-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

.fw-hero-video {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  max-height: 85vh;
}
.fw-hero-video video {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.fw-hero-text-overlay {
  height: 70vh;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.fw-hero-text-overlay:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  z-index: 0;
}
.fw-hero-text-overlay .container {
  position: relative;
  z-index: 10;
}
.fw-hero-text-overlay img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
.fw-hero-text-overlay h1 {
  text-align: center;
  color: #fff;
}
.fw-hero-text-overlay .content-container {
  color: #fff;
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.fw-parallax {
  box-shadow: inset 0 0 10px #000;
}

.fixed-wysiwyg-content .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}
.fixed-wysiwyg-content h2, .fixed-wysiwyg-content h3 {
  text-align: center;
  margin: 0;
}
.fixed-wysiwyg-content .content-container {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.call-to-action.cta-container {
  text-align: center;
}

/*# sourceMappingURL=base.css.map */
